{%extends 'base.html'%}

{%block content%}
<article class="card-post my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 mb-4 d-flex">
				<div class="card card-shadow rounded">
					<a href="/c-struct/"><img alt="Belajar Pemrograman C #13: Mengenal Tipe Data Struct"
							class="card-img-top lazyload blur-up lazyloaded"
							data-src="https://d33wubrfki0l68.cloudfront.net/6037ac92de9772f8ff63b9c122e81b723fa8c58a/4e7da/img/c/c.webp"
							loading="lazy"
							src="https://d33wubrfki0l68.cloudfront.net/6037ac92de9772f8ff63b9c122e81b723fa8c58a/4e7da/img/c/c.webp"></a>
					<div class="card-body">
						<h5 class="card-title font-weight-bold">
							<a class="text-dark" href="/c-struct/">Belajar Pemrograman C #13: Mengenal Tipe Data
								Struct</a>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
{%endblock%}