{% extends 'admin-base.html'%}

{%block content%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="row">
        <div class="col-sm-3">
            <a href="{{url_for('inputSupplier')}}">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" data-toggle="modal">+Tambah

                </button>
            </a>

            <!-- Modal -->



        </div>


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>


                    <th class="text-center" scope="col">Nama Supplier</th>
                    <th class="text-center" scope="col">Alamat</th>
                    <th class="text-center" scope="col">Telpon</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for spl in data_supplier %}
            <tr>
                <td>{{spl.nama_supplier}}</td>
                <td>{{spl.alamat}}</td>
                <td>{{spl.telpon}}</td>
                <td>
                    <a href=""><img src="../static/bootstrap/icon/edit.svg" alt="" style="height: 15pt;"></a> |
                    <a href=""><img src="../static/bootstrap/icon/delete.svg" alt="" style="height: 15pt;"></a>
                </td>
            </tr>
            {% endfor %} -->
                {% for spl in data_supplier %}
                <tr>

                    <td>{{spl.nama_supplier}}</td>
                    <td>{{spl.alamat}}</td>
                    <td>{{spl.telpon}}</td>

                    <td class="text-center">
                        <a href="{{url_for('editSupplier', id=spl.id)}}"><img src="../static/bootstrap/icon/edit.svg"
                                alt="" style="height: 15pt;"></a> |
                        <a href="{{url_for('deleteSupplier', id=spl.id)}}"><img
                                src="../static/bootstrap/icon/delete.svg" alt="" style="height: 15pt;"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</main>

{%endblock%}